.app {
  height: 90%;
  max-width: 1210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    width: 30%;
    display: flex;
    position: relative;

    input {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 20px;
      padding: 12px;
      transition: all 0.3s;

      &:focus {
        outline: 2px solid #504d4d;
        box-shadow: 2px 0px 15px 1px #504d4d;
      }
    }

    & .icon__search {
      display: none;
      position: absolute;
      top: calc(50% - 16px);
      right: 0;

      &:hover {
        cursor: pointer;
      }
    }

    & .icon__clear {
      display: none;
      position: absolute;
      top: calc(50% - 18px);
      right: 0;

      &:hover {
        cursor: pointer;
      }
    }

    & .icon__search,
    & .icon__clear {
      &.active {
        display: block;
      }
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    padding: 50px 0;
  }

  &__image {
    width: 31%;
    height: 220px;

    &:hover {
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 50px;

    & span {
      font-size: 18px;
    }
  }

  &__overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #646363, $alpha: 0.6);
    top: 0;
    left: 0;
    z-index: 10;

    &.closed {
      display: none;
    }

    &-image {
      position: absolute;
      z-index: 20;
      width: 70%;
      height: 90%;
      top: calc(50% - 45%);
      left: calc(50% - 35%);
    }
  }
}
